<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>GoonUI</title>
<link href="{{ AppUrl }}assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ AppUrl }}assets/client/css/app.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">GoonUI</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if IsSigned %}
                        <li><a href="{{ AppUrl }}dashboard">Home</a></li>
                        <li><a href="{{ AppUrl }}server">Server</a></li>
                        <li><a href="{{ AppUrl }}server/create">Create Server</a></li>
                    {% else %}
                        <li><a href="{{ AppUrl }}">Home</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        {% block container %}{% endblock %}
    </div>

    <script src="{{ AppUrl }}assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ AppUrl }}assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
